#mainul li ul li{
    display: none;
}
#mainul li:hover ul li{
    display: block;
}
#mainul li:hover ul li ul li{
    display: none;
    
}
#mainul li ul li:hover ul li{
    display: block;
}
#mainul li ul li:hover ul li ul li{
    display: none;
}
#mainul li ul li ul li:hover ul li{
    display: block;
}